<h1>Welcome  {{username}}</h1>

<button (click)="ndisp()">Home</button>
  <button (click)="trq()">TravelRequest</button>
  
<button routerLink="/Createreq" *ngIf="display">Raise Request</button>
<button routerLink="/"  >Logout</button>

<div class="container">
    <table class="table table-trapped" *ngIf="display">
     <thead>
       <tr>
         <th>Source</th>
         <th>Destination</th>
         <th>Travel Date</th>
         <th>Mode</th>
         <th>Status</th>
       </tr> 
     </thead>
     
     <tbody>
       
     <tr *ngFor="let f of member">
       
       
         
       
       <td>{{f.source}}</td>
       <td>{{f.destination}}</td>
       <td>{{f.travelDate.split("T")[0]}} {{f.travelDate.split("T")[1]}}</td>
       <td>{{f.travelMode}}</td>
       <td>{{f.currentStatus}}</td>
       <button (click)="detailchk(f)">Details</button>
       <button (click)="deletechk(f)">Delete</button>
   
     </tr>
     </tbody>
    </table>
   </div> 
   

