<p>adminlogin works!</p>
<h1>Welcome  {{username}}</h1>


<button (click)="toggledisplay()">Travel Request</button>
<button (click)="adduser()">Add User</button>
<button (click)="modifyuser()">Modify User</button>
<button (click)="logout()">Logout</button>
<table  *ngIf="display">
    <thead>
      <tr>
        <th>Requested by</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Travel Date</th>
        <th>Mode</th>
        <th>Current Request Status</th>
      </tr> 


    </thead>

    <tbody>
        <tr *ngFor="let f of members">
            <td>{{f.name}}</td>
            <td>{{f.source}}</td>
            <td>{{f.destination}}</td>
            <td>{{f.travelDate.split("T")[0]}} {{f.travelDate.split("T")[1]}}</td>
            <td>{{f.travelMode}}</td>
            <!-- <td>{{f.currentStatus}}</td> -->
            <button (click)="editchk(f)">Edit</button>
            <button (click)="deletechk(f)">Delete</button>
            <button (click)="detailchk(f)">Details</button>
        </tr>
    </tbody>
</table>

  